{% extends 'base.html'%}


{% include 'navbar.html'%}

{% block content %}

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                <br>
                <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis est a tortor malesuada commodo. Vivamus nec ligula ut nulla fringilla dictum sodales a nulla. Maecenas nec consequat nisi. Maecenas leo dui, faucibus non molestie sed, commodo vel enim. Nam vestibulum erat a sapien malesuada elementum. Pellentesque lobortis nisl varius risus auctor vestibulum. Suspendisse tortor dolor, placerat eget nunc at, pharetra tristique libero. Sed quis mattis massa. Nullam nec metus porta nunc venenatis tincidunt a quis enim. Quisque efficitur efficitur metus, a vehicula dui viverra at. Mauris quis est nec turpis pharetra tristique vitae nec eros. Morbi sodales sollicitudin nisl at pellentesque. Mauris rutrum accumsan viverra. Donec justo ante, euismod at quam eget, pharetra varius elit.
<br>
                    <br>
Duis lectus nulla, ullamcorper quis vehicula sed, rhoncus nec magna. In hac habitasse platea dictumst. Sed tincidunt, enim vitae tristique malesuada, neque leo elementum lacus, sed rutrum dolor elit a nisl. Pellentesque eleifend aliquam ante, vitae eleifend nisl tempus vel. Sed in massa tellus. Fusce vel vehicula ex. Vestibulum eros est, ultricies at augue in, faucibus rhoncus orci. Suspendisse tempor volutpat auctor. Nunc aliquam pretium elit in feugiat. Suspendisse nibh odio, tempor sed libero et, pharetra aliquet lacus. Suspendisse ut ligula blandit, porta nisl in, efficitur mi. Donec porttitor ligula non arcu iaculis, nec auctor orci ornare. Aenean ex lectus, suscipit quis justo nec, commodo varius mi. In a sapien ante.
<br>
                    <br>
Morbi aliquam, arcu quis consequat tristique, nulla neque aliquet quam, volutpat interdum nibh risus quis metus. Nullam tempor dignissim tempus. Curabitur et sem vel tellus euismod vulputate. Nam id quam et eros mollis maximus. Curabitur convallis finibus orci eu posuere. Aliquam accumsan sollicitudin cursus. Maecenas faucibus varius quam et porttitor. Cras et gravida urna. Cras in tortor arcu. Mauris at lacus leo. Cras lacinia sagittis lobortis. Vivamus ut velit risus. Morbi interdum, quam quis pharetra facilisis, neque libero tincidunt eros, ac convallis sapien elit vitae mi. Suspendisse accumsan sem mi, ut accumsan nisi mollis sit amet. Morbi convallis dui tellus, sed pulvinar urna tristique at. Nunc et euismod ante.
            </p>
                <br>
                <br>
            </div>
        </center>
    </div>
</div>

{% endblock %}