
                    <div id="component" class="container-fluid py-3">
                        <div class="p-1 bg-white rounded-4 shadow  row">
                            <div class="rounded-3 col-10 justify-content-center align-items-center">
                                <img class="rounded-3 col-12" src="https://via.placeholder.com/327x242">
                                </div>
                                <div class="col-10 row justify-content-between">
                                    <div class="col-6 row">
                                        <p class="text-dark fs-6 fw-bold font-family-Montserrat col-12 m-0 px-3 py-2">
                                            Snickers Off-White
                                            <br>
                                            2024
                                            </p>
                                            <p class="text-center text-secondary fs-6 fw-normal font-family-Montserrat col-3 m-0 px-3 py-2">
                                            NIKE
                                            </p>
                                            <p class="text-center text-dark fs-6 fw-bold font-family-Montserrat col-5 m-0 px-3 py-2">
                                            $38.00
                                            </p>
                                        </div>
                                        <div class="p-1 bg-dark rounded-4 shadow col-1 row d-flex">
                                            <p class="text-center text-white fs-4 fw-medium font-family-Montserrat col-6 m-0 px-3 py-2">
                                            +
                                            </p>
                                        </div>
                                    </div>
                                    <div class="opacity-10 col-10 row justify-content-between">
                                        <div class="bg-info rounded-circle col-1">
                                        </div>
                                        <div class="bg-teal rounded-circle col-1">
                                        </div>
                                        <div class="bg-pink rounded-circle col-1">
                                        </div>
                                        <div class="bg-danger-subtle rounded-circle col-1">
                                        </div>
                                    </div>
                                </div>
                    </div>
