{% extends 'base.html'%}
{% load static %}
{% block navbar %}
{% endblock %}
{% block content %}
<div class="slider" style="background-image: url('{% static "assets/background.png" %}')">
        <header>
            <div class='container'>
                <div class='logo'>
                    <img src="{% static 'assets/logo.png' %}" class='logo-picture' align="center">
                </div>
                <div class='white-strip'></div>
                <div class='nav-bar'>
                    <ul class='header-menu'>
                        <a href="{% url 'home' %}" class="transition"><li class='header-menu-item'>HOME</li></a>
                        <li>
                            <a class="nav-link dropdown-toggle header-menu-item" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown">CATEGORIES</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'home' %}">ALL PRODUCTS</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'Jordan' %}">JORDANS</a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'Air-Force-1' %}">AIR FORCE 1</a></li>
                            </ul>
                        </li>
                        <a href="{% url 'category' 'sale' %}"><li class='header-menu-item sale-price'>SALE</li></a>
                        <a href="{% url 'search'%}"><li class='header-menu-item'>SEARCH</li></a>
                        <a href="{% url 'about' %}"><li class='header-menu-item'>ABOUT US</li></a>
                        {% if user.is_authenticated %}
                          <a href="{% url 'logout' %}"><li class='header-menu-item'>LOGOUT</li></a>
                          <li>
                            <a class="nav-link dropdown-toggle header-menu-item" id="navbarDropdown2" href="#" role="button" data-bs-toggle="dropdown">PROFILE</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'update_user' %}">USER PROFILE</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'update_info'%}">USER INFO</a></li>
                            </ul>
                          </li>
                        {% else %}
                          <a href="{% url 'login' %}"><li class='header-menu-item'>LOGIN</li></a>
                          <a href="{% url 'register' %}"><li class='header-menu-item'>REGISTER</li></a>
                        {% endif %}
                        <a href="{% url 'cart_summary'%}" class="btn btn-outline-light">
                            <i class="bi-cart-fill me-1"></i>
                            <span class="badge bg-light text-dark ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                        </a>
                    </ul>
                </div>
            </div>
        </header>
    </div>

    <!-- Section-->
    <section class="py-5">
        <div id="component" class="container-fluid py-3">
            <div class="row gx-4 gy-5">
                {% for product in products %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
                        <a href="{% url 'product' product.id %}" class="text-decoration-none">
                            <div class="card h-100 d-flex flex-column shadow-sm" style="border-radius: 15px; overflow: hidden;">
                                {% if product.is_sale %}
                                    {% for key, value in sale_percentages.items %}
                                        {% if key == product.id %}
                                            <div class="badge sale-badge text-white position-absolute" style="top: 0.5rem; left: 0.5rem">-{{ value }}%</div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <div class="img-container">
                                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                                </div>
                                <div class="card-body d-flex flex-column justify-content-between p-4">
                                    <h5 class="fw-bolder mb-2 text-truncate product-name">{{ product.name }}</h5>
                                    {% if product.is_sale %}
                                        <div class="price-container">
                                            <span class="old-price product-price">{{ product.price }} €</span>
                                            <span class="product-price sale-price"> {{ product.sale_price }} €</span>
                                        </div>
                                    {% else %}
                                        <span class="product-price">{{ product.price }} €</span>
                                    {% endif %}
                                    <p class="card-text mt-2 product-category">{{ product.category }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

