{% load static %}
<nav id="mainNavbar" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a href="{% url 'home'%}"><img src="{% static 'assets/main_logo2.png'%}" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item nav-items">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Kõik tooted</a>
        </li>
        <li class="nav-item nav-items">
          <a class="nav-link active sale-link" href="{% url 'category' 'sale' %}">Soodus</a>
        </li>
        <li class="nav-item nav-items">
          <a class="nav-link active" href="{% url 'category' 'Air-Force-1' %}">Air Force 1</a>
        </li>
        <li class="nav-item nav-items">
          <a class="nav-link active" href="{% url 'category' 'Jordan' %}">Jordan</a>
        </li>

        <li class="nav-item nav-search">
          <div class="container-md">
          <form class="d-flex" role="search" action="{% url 'search'%}" method="POST">
            {% csrf_token %}
            <button class="btn" type="submit"><i class="bi bi-search"></i></button>
            <input class="form-control me-2 nav-search-input" type="search" name="searched" id="searched" placeholder="Otsi kogu poest..." aria-label="Search">
          </form>
            </div>
        </li>

      </ul>
      {% if user.is_authenticated %}
        <div class="dropdown">
           <a class="nav-link active icon-large" id="navbarDropdown3" href="#" role="button" data-bs-toggle="dropdown"><i class="bi bi-person-circle"></i></a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
             <li><a class="dropdown-item" href="{% url 'update_user' %}">Konto üksikasjad</a></li>
             <li><hr class="dropdown-divider" /></li>
             <li><a class="dropdown-item" href="{% url 'update_info'%}">Kohaletoimetamise aadress</a></li>
             <li><hr class="dropdown-divider" /></li>
             {% if user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'admin_panel'%}">Admini paneel</a></li>
                <li><hr class="dropdown-divider" /></li>
             {% endif %}
             <li><a class="dropdown-item" href="{% url 'logout'%}">Logi välja</a></li>
           </ul>
        </div>
      {% else %}
        <a href="{% url 'login' %}" class="nav-link icon-large"><i class="bi bi-person-circle"></i></a>
      {% endif %}
      <a href="{% url 'cart_summary'%}" class="nav-link active nav-cart icon-large">
          <i class="bi bi-basket"></i>
          <span class="badge text-dark ms-1" id="cart_quantity">{{ cart|length }}</span>
      </a>
    </div>
  </div>
</nav>

  <nav id="secondNavbar" class="navbar second-navbar navbar-expand-sm">
          <ul class="nav small-navbar">
            <li class="nav-item-second">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Vabaajajalatsid</a>
            </li>

            <li class="nav-item-second">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Riided</a>
            </li>

            <li class="nav-item-second">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Aksessuaarid</a>
            </li>

            <li class="nav-item-second">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Sport</a>
            </li>

            <li class="nav-item-second last-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Uus</a>
            </li>

            <li class="nav-item-second">
              <a class="nav-link active" aria-current="page" href="{% url 'about' %}">Meist</a>
            </li>
          </ul>
  </nav>

<style>

  .navbar.second-navbar .nav-link {
    font-size: 1.2rem;
    color: black;
  }

  .last-item {
    border-right: 2px solid lightgray;
    margin-right: 20px;
  }

  /*.navbar-toggler {*/
  /*  display: flex;*/
  /*  align-items: center; !* Tagab, et nav-toggleri ikoon on vertikaalselt keskel *!*/
  /*}*/

  @media (max-width: 386px) {
    .navbar-toggler {
      z-index: 2;
      position: relative;
      top: -50px;
    }
  }

  @media (max-width: 992px) {
    .nav-item {
        font-size: 1rem; /* Vähendame fonti keskmistel ekraanidel */
        /*background-color: white;*/
    }

    .collapse {
      background-color: white;
    }

    .nav-cart {
      position: relative;
      top: -50px;
      right: -30px;
    }

    .navbar.second-navbar .nav-link {
      font-size: 0.7rem;
      padding-left: 5px;
      padding-right: 10px;
    }

}


  @media (max-width: 768px) {
    .nav-cart {
      position: relative;
      top: -50px;
      right: -30px;
    }

    .collapse {
      background-color: white;
    }

    .navbar.second-navbar .nav-link {
      font-size: 0.8rem;
      color: black;
    }

    .last-item {
      margin-right: 5px;
    }
}
  .collapse {
    z-index: 2;
  }

  .navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
  }

  .navbar-nav {
    display: flex;
    align-items: center; /* Tagab, et nav-elemendid on vertikaalselt keskel */
  }

  .navbar-toggler {
    display: flex;
    align-items: center; /* Tagab, et nav-toggleri ikoon on vertikaalselt keskel */
  }

  .navbar .nav-item {
    display: flex;
    align-items: center; /* Tagab, et iga nav-item on vertikaalselt keskel */
  }


  .second-navbar {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .small-navbar {
    display: flex;
    list-style: none;
  }

  .icon-large {
    font-size: 2rem;
  }

  .nav-cart {
    padding-left: 30px;
    padding-right: 200px;
  }

  .nav-search {
    position: relative;
    top: 5px;
    font-family: "Poppins", sans-serif;
  }

  .nav-search-input {
    border: none;
  }

  .sale-link {
    color: #FF5733 !important;
  }

  .nav-items {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
      width: 147px;
      height: 72px;
      margin-left: 120px;
      margin-right: 40px;
  }

  .navbar {
        height: 100px;
        border-bottom: 1px solid lightgray;
        font-family: "Poppins", sans-serif;
        font-size: 1.45rem;
        font-weight: 500;
  }
</style>
