/* Global Styles */
a {
    display: block;
    color: inherit; /* Ensure text color matches the card content */
    text-decoration: none; /* Remove default link underline */
}

a:hover {
    color: inherit; /* Prevent color change on hover */
    text-decoration: none;
}

/* Image Container Styles */
.img-container {
    height: 400px; /* Adjust height as needed */
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Card Body Styling */
.card-body {
    flex: 1; /* Ensure card body takes up available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left; /* Align text to the left */
    background: none; /* Remove background */
    padding: 1rem;
}

/* Ensure consistent height for all cards */
.card-body, .card-img-top {
    width: 100%;
}

h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Product Styles */
.product-name {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
}

.product-price {
    font-family: 'Hammersmith One';
    font-size: 1.2rem;
    font-weight: 400;
}

.product-category {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

/* Sale Badge Styles */
.badge {
    font-size: 0.9rem;
    padding: 0.5em;
    border-radius: 0.25rem;
}

.sale-badge {
    background-color: #FF5733;
}

.old-price {
    text-decoration: line-through;
    text-decoration-color: #FF5733;
    text-decoration-thickness: 2px;
}

.sale-price {
    color: #FF5733;
}

/* Container Styles */
.container {
    max-width: 1200px;
}

/* User and Header Menu Icon Styles */

.footer {

	background-color: black;
	margin-top: 20px;
	color: white;
	padding-top: 150px;
}

.news-subscription {

	font-family: 'Hammersmith One';
	text-transform: uppercase;
	letter-spacing: .09em;
	font-size: 23px;

}

.news-title {

	font-family: 'Hammersmith One';
	text-transform: uppercase;
	letter-spacing: .09em;
	font-size: 23px;

}

.footer-containers {

	display: grid;
	grid-template-columns: 1fr 2fr;

}

.subscription {

	background-color: black;
	border: 0;
	border-bottom: 1px solid gray;
	font-size: 17px;
	margin-top: 15px;
	padding-bottom: 7px;
	margin-bottom: 80px;
}
