{% extends 'base.html'%}

{% include 'navbar.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <span class="base text-center">Vormista ost</span>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-7 col-divider steps">
            <div class="row padding-title-bottom">
                <div class="col-12">
                    <span class="step-title">01. Tarneaadress</span>
                </div>
            </div>
            <form method="post" action="{% url 'billing_info' %}">
                {% csrf_token %}
                <div class="form-floating-label padding-input">
                    {{shipping_form.shipping_email }}
                    <label>E-posti aadress <span class="text-primary">*</span></label>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-floating-label padding-bottom">
                            {{shipping_form.shipping_full_name }}
                            <label>Täisnimi <span class="text-primary">*</span></label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating-label padding-bottom">
                            {{shipping_form.shipping_address1 }}
                            <label>Aadress <span class="text-primary">*</span></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-floating-label padding-bottom">
                            {{shipping_form.shipping_city }}
                            <label>Linn <span class="text-primary">*</span></label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating-label padding-bottom">
                            {{shipping_form.shipping_state }}
                            <label>Vald <span class="text-primary">*</span></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-floating-label padding-bottom">
                            {{shipping_form.shipping_zipcode }}
                            <label>Indeks <span class="text-primary">*</span></label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating-label padding-bottom">
                            {{shipping_form.shipping_country }}
                            <label>Riik <span class="text-primary">*</span></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button class="pay-button">Maksma</button>
                    </div>
                </div>
            </form>

            <div class="row padding-title-bottom padding-title-top">
                <div class="col-12">
                    <span class="step-title">02. Makse</span>
                </div>
            </div>

            <div class="row padding-title-bottom">
                <div class="col-12">
                    <span class="step-title">03. Tellimuse ülevaade</span>
                </div>
            </div>


        </div>

        <div class="col-5">
            <div class="container cart">
                <div class="row">
                    <span class="cart-title">Kotis</span>
                </div>
                <hr class="divider">

                <div class="row cart-row">
                    <div class="col-md-9">
                        <span class="cart-text">Ostukorvi vahesumma</span>
                    </div>
                    <div class="col-md-3">
                        <span class="cart-price">{{totals}} €</span>
                    </div>
                </div>

                <div class="row cart-row">
                    <div class="col-md-9">
                        <span class="cart-text">Tarne</span>
                    </div>
                    <div class="col-md-3">
                        <span class="cart-price">0.00 €</span>
                    </div>
                </div>

                <div class="row cart-row">
                    <div class="col-md-9">
                        <span class="cart-text">Maksud</span>
                    </div>
                    <div class="col-md-3">
                        <span class="cart-price">{{taxes}} €</span>
                    </div>
                </div>

                <hr class="divider">

                <div class="row cart-row">
                    <div class="col-md-9">
                        <span class="cart-text">Tellimus kokku</span>
                    </div>
                    <div class="col-md-3">
                        <span class="cart-final-price">{{totals}} €</span>
                    </div>
                </div>

                <hr class="divider">
                {% for product in products %}
                <div class="cart-item">
                <div class="row">
                    <div class="row">
                        <span class="cart-product-title">{{ product.name}}</span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="cart-product-img">
                                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="cart-info">
                                <span class="cart-small-text">Kogus:
                                    {% for key, value in quantities.items %}
                                       {% if key == product.id|slugify %}
                                           {{ value }}
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </div>
                            <div class="cart-info">
                                <span class="cart-small-text">Suurus: None</span>
                            </div>
                            <div class="cart-info">
                                <span class="cart-small-text">{{product.price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                {% endfor %}




            </div>

        </div>


    </div>
</div>

<style>
    /* Cart */
    .step-title{
        background-color: #1d1d1d;
        font-family: "Poppins", sans-serif;
        color: white;
        font-size: 1.7rem;
        width: 100%;
        display: flex;
        align-items: center;
        height: 4rem;
        padding-left: 20px;
    }

    .form-floating-label label {
        position: absolute;
        top: 14px;
        left: 10px;
        font-size: 1.1rem;
        background: white;
        padding: 0 5px;
        transition: all 0.2s ease-out;
        color: gray;
        pointer-events: none;
    }

    @media (max-width: 768px) {
        .step-title {
            font-size: 1.3rem;
        }

        .form-floating-label label {
            position: absolute;
            top: 14px;
            left: 10px;
            font-size: 0.9rem;
            background: white;
            padding: 0 5px;
            transition: all 0.2s ease-out;
            color: gray;
            pointer-events: none;
        }
        .steps {
            padding-right: 10px !important;
            padding-left: 10px !important;
        }
    }

    .cart-item {
        margin-bottom: 25px;
    }

    .cart-small-text {
        font-size: 0.87rem;
        color: lightgray;
    }

    .cart-info{
        position: relative;
        top: 25px;
        left: -30px;
    }

    .cart-product-img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: block;
        margin-top: 20px;
    }

    .cart-product-title{
        font-size: 18px;
        font-weight: 500;
    }

    .cart-final-price {
        color: #FF5733;
        font-weight: 500;
    }

    .cart-row {
        margin-left: 20px;
        margin-top: 20px
    }

    .cart {
        margin-left: 20px;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
    }
    .cart-title {
        font-size: 1.5rem;
    }

    .divider {
            border: none;
            border-top: 1px solid lightgray;
            margin: 20px 0; /* Adjust the margin as needed */
    }

    /* Divider */
    .col-divider {
        border-right: 1px solid lightgray;
        padding-left: 0px; /* Optional: add space between the content and the divider */
        padding-right: 40px;
    }

    /* Left side (Form and button) */
    .pay-button {
        background-color: #FF5733;
        border: 1px solid #FF5733;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        width: 100%;
        height: 3rem;
        font-size: 1.3rem;
    }

    .padding-input {
        padding-bottom: 10px;
    }
    .padding-title-bottom{
        padding-bottom: 30px;
    }

    .padding-title-top{
        padding-top: 50px;
    }

    .base {
        font-family: "Poppins", sans-serif;
        font-size: 3rem;
        padding-top: 5rem;
        padding-bottom: 3rem;

    }

    /* Form tweaks */
    .form-floating-label {
        position: relative;
        margin-bottom: 20px;
    }

    .form-floating-label input {
        border: 1px solid lightgray;
        border-radius: 1px;
        padding: 12px 8px 8px 8px;
        width: 100%;
        box-sizing: border-box;
        height: 3.5rem;
    }

    .delete-product .bi-x {
      font-size: 1.5rem;
    }


    form-floating-label input:focus ~ label,
    .form-floating-label input:not(:placeholder-shown) ~ label {
      top: -10px;
      left: 5px;
      font-size: 12px;
      color: blue;
    }
</style>
{% endblock %}