{% extends 'base.html'%}


{% include 'navbar.html'%}

{% block content %}

<section class="h-100">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0">Shopping Cart</h3>
          <div>
            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p>
          </div>
        </div>
        {% if products %}
          {% for product in products %}
            <div class="card rounded-3 mb-4">
              <div class="card-body p-4">
                <div class="row d-flex justify-content-between align-items-center">
                  <div class="col-md-2 col-lg-2 col-xl-2">
                    <img
                      src="{{ product.image.url }}"
                      class="img-fluid rounded-3">
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-3">
                    <p class="lead fw-normal mb-2">{{ product.name }}</p>
                    <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <select class="form-select product-quantity small-select" id="select{{product.id}}" data-index="{{product.id}}">
                            <option selected>
                              {% for key, value in quantities.items %}
                                {% if key == product.id|slugify %}
                                  {{ value }}
                                {% endif %}
                              {% endfor %}
                            </option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    {% if product.is_sale %}
                      <div class="price-container">
                        <span class="old-price product-price">{{ product.price }} €</span>
                        <br>
                        <span class="product-price sale-price"> {{ product.sale_price }} €</span>
                      </div>
                    {% else %}
                      <span class="product-price">{{ product.price }} €</span>
                    {% endif %}
                  </div>
                  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                    <button type='button' data-index="{{product.id}}" class="text-danger btn delete-product"><i class="fas fa-trash fa-lg"></i></button>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        <h3>Total: {{totals}}</h3>
      <!-- Discount code -->
        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div data-mdb-input-init class="form-outline flex-fill">
              <input type="text" class="form-control form-control-lg" />
              <label class="form-label">Discount code</label>
            </div>
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-warning btn-lg ms-3">Apply</button>
          </div>
        </div>


      <!-- Proceed to pay -->
        <div class="card">
          <div class="card-body">
            <a href="{% url 'checkout' %}" class="btn btn-warning btn-block btn-lg">Checkout</a>
          </div>
        </div>
        {% else %}
          There is no products in a cart
        {% endif %}

      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<script>
// Update cart
$(document).on('change', '.product-quantity', function (e) {
    e.preventDefault();
    // Grab the product id
    var productid = $(this).data('index');
    $.ajax({
        type: 'POST',
        url: '{% url "cart_update" %}',
        data: {
            product_id: productid,
            product_qty: $('#select' + productid + ' option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function (json) {
            // console.log(json)
            // document.getElementById('cart_quantity').textContent = json.qty
            location.reload();
        },

        error: function(xhr, errmsg, err) {
        }
    });
});

// Delete product from cart
$(document).on('click', '.delete-product', function (e){
    e.preventDefault();
    // Grab the product id
    var productid = $(this).data('index');
    $.ajax({
        type: 'POST',
        url: '{% url "cart_delete" %}',
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function (json){
            // console.log(json)
            // document.getElementById('cart_quantity').textContent = json.qty
          location.reload()
        },

        error: function(xhr, errmsg, err){
        }
        });
})


</script>

<style>
  .product-price {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.old-price {
    text-decoration: line-through;
    text-decoration-color: #FF5733;
    text-decoration-thickness: 2px;
}

.sale-price{
    color: #FF5733;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.end-0 {
  right: 0;
}

.m-2 {
  margin: 0.5rem;
}

.delete-product {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.delete-product .bi-x {
  font-size: 1.5rem;
}

.small-select {
  height: auto;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  width: 100px;
}
</style>
{% endblock %}